<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
<title>关于我-某初中生的暖心小窝</title>
<style type="text/css">
body,td,th {
	text-align: center;
	font-family: "微软雅黑", "Droid Sans Fallback", "黑体", sans-serif;
}
a:visited {
	color: #FFFFFF;
}
</style>
</head>

<body bgcolor="#014D50" text="#FFFFFF" link="#B7CEFF">
<h1 style="text-align: center">某初中生的暖心小窝</h1>
<p style="text-align: center">我只是个小小的初中生</p>
<hr />
<p style="text-align: left; color: #FF0004;"><strong>关于我</strong></p>
<blockquote>
  <p style="text-align: left">我是一个初中生，我突发思想，建了这网站，希望大家可以多多关照</a></p>
 <p style="text-align: left"><a href="https://space.bilibili.com/3494363124468212">我的B站账号</a></p>
 <p style="text-align: left"><a href="https://www.bianchengtao.top/">回去</a></p>
  

</html>